p {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#topThing {
  font-family: 'Forum', cursive;
}

#fullArticle {
  width: 60%;
}

#movieThing {
width: 50%;
height: 50%;
}